header, nav, aside, article, footer, section, main, figure, figcaption {
	display:block;
}
* {
 	margin:0;
	border:0;
	padding:0;
}

body {
    text-align: center;
}

h1, h2, p {
    font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
}

header {
    padding: 5% 0;
    color: white;
    background-color: darkcyan;
    font-size: .7em;
}

section {
    padding: 30% 0;
    color: white;
    font-size: 1.1em;
    background-image: url('sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 1px 1px 3px black;
}

footer h2 {
    color: darkcyan;
    padding: 5% 0;
}

@media (min-width: 500px) {
    section {
        font-size: 1.5em;
    }
}

@media (min-width: 700px) {
    header {
        font-size: 1.1em;
    }

    section {
        font-size: 1.9em;
    }

    footer h2 {
        font-size: 1.75em;
    }

}

@media (min-width: 700px) {
    section {
        padding: 15% 0;
        background-position: 50% 50%;
    }
}